<section class="subscribe">
    <div class="container">
        <div class="intro">
            <h2 class="text-center">Subscribe for our Newsletter</h2>
            <p class="text-center">Don’t Miss Out! Join Our Newsletter For Exclusive Contents Delivered Straight To Your Inbox Each Week</p>
        </div>
        <div class="middle-pic">
            <img class="d-block w-100" src="../../assets/images/ncaa_championship_ss_04_0.jpg" alt="Second slide">
            <div class="overlay-effect"><div class="text"><a class="nav-link" routerLink='/login'>Login</a></div></div>
        </div>
        <form #form class="d-flex justify-content-center flex-wrap" method="post" action="http://localhost/cs4640/subscribe.php">
            <div class="mb-3"><input type="email" class="form-control" name="email" placeholder="Your Email" /></div>
            <div class="mb-3"><button class="btn btn-primary" type="submit" (click)="form.submit()">Subscribe</button></div>
        </form>
    </div>
</section> 